body {
    font-family:"BBH Sans Bogle";
    background-color:#418BCD;
    color:#282C33;
}

h1, h2, h3, h4, h5, h6{
    font-family:Oswald;
    font-size:30pt;

}

header{
    text-align: center;
}
/* hero section*/
#hero{
    background-color:#5472A0;
    text-align: center;
}

#hero img {
    width: 300px;
}


/*hobbies section*/
#hobbies {
    background-color:#5472A0;
}
#gallery {
    border: 2px  #999999;
}
#gallery figure {
    text-align: center;
}

#video{
    aspect-ratio: width: 30px;
  height: auto;;
text-align: center;
background-color:#5472A0;
}

#lit{
    border: 2px  #999999;
}
#lit{
background-color:#5472A0;
}
#lit{
    text-align: center;
}
#lit div{
max-width: 40rem;
margin: 0 auto;
}
